/* --------------------------------

File#: 2_menu-bar
Title: Menu Bar
Descr: Application menu with a list of common actions that users can perform
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --menu-bar-button-size: 2.5em;
  --menu-bar-icon-size: 1em;
  --menu-bar-horizontal-gap: 0.375rem;
  --menu-bar-vertical-gap: 4px;
  --menu-bar-label-size: 0.7rem;
}
@media (min-width: 64rem) {
  :root {
    --menu-bar-horizontal-gap: 0.5625rem;
  }
}

.menu-bar {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.menu-bar__item {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-bar-button-size);
  width: var(--menu-bar-button-size);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.menu-bar__item:not(:last-child) {
  margin-right: var(--menu-bar-horizontal-gap);
}
.menu-bar__item:hover, .menu-bar__item.menu-control--active {
  @apply bg-contrast-higher/10;
}
.menu-bar__item:hover > .menu-bar__icon, .menu-bar__item.menu-control--active > .menu-bar__icon {
  @apply text-contrast-higher;
}
.menu-bar__item:hover > .menu-bar__label, .menu-bar__item.menu-control--active > .menu-bar__label {
  clip: auto;
  clip-path: none;
  height: auto;
  width: auto;
}
.menu-bar__item:focus {
  outline: none;
  @apply bg-primary/10;
}
.menu-bar__item:active {
  @apply bg-contrast-low;
}
.menu-bar__item:focus:active {
  @apply bg-primary/20;
}

.menu-bar__item--trigger {
  display: none;
}

.menu-bar__icon {
  display: block;
  @apply text-contrast-high;
  font-size: var(--menu-bar-icon-size);
  transition: color 0.2s;
}

.menu-bar__label {
  position: absolute;
  @apply z-5;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(var(--menu-bar-vertical-gap));transform: translateX(-50%) translateY(var(--menu-bar-vertical-gap));
  @apply py-1.5 lg:py-2 px-2 lg:px-3;
  @apply text-floor;
  @apply bg-contrast-higher/95;
  @apply rounded;
  font-size: var(--menu-bar-label-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  user-select: none;
}

.menu-bar--collapsed .menu-bar__item--hide {
  display: none;
}
.menu-bar--collapsed .menu-bar__item--trigger {
  display: inline-block;
  display: flex;
}

.menu-bar {
  opacity: 0;
}
.menu-bar::before {
  display: none;
  content: "collapsed";
}
.menu-bar--loaded {
  opacity: 1;
}
@media (min-width: 32rem) {
  .menu-bar--expanded\@xs::before {
    content: "expanded";
  }
}
@media (min-width: 48rem) {
  .menu-bar--expanded\@sm::before {
    content: "expanded";
  }
}
@media (min-width: 64rem) {
  .menu-bar--expanded\@md::before {
    content: "expanded";
  }
}
@media (min-width: 80rem) {
  .menu-bar--expanded\@lg::before {
    content: "expanded";
  }
}
@media (min-width: 90rem) {
  .menu-bar--expanded\@xl::before {
    content: "expanded";
  }
}