 /* --------------------------------

File#: 3_advanced-filter
Title: Advanced Filter
Descr: A filter panel template
Usage: codyhouse.co/license

-------------------------------- */
.adv-filter .sidebar--static {
    /* static variation -> sidebar is always visible (optimized for bigger screens) */
    width: 320px;
    flex-grow: 0;
  }
  .adv-filter .accordion {
    --accordion-icon-size: 16px;
    --accordion-icon-stroke-width: 2.5;
    /* arrow icon stroke width */
  }
  .adv-filter .slider {
    --slider-width: 80%;
  }

  @media (min-width: 64rem) {
    .adv-filter__checkbox-list,
    .adv-filter__radio-list {
      --checkbox-radio-size: 1.25em;
      --checkbox-radio-translate-y: 0.25em;
      /* edit to align buttons with labels */
    }
  }

  .adv-filter__checkbox-list,
  .adv-filter__radio-list {
    @apply lg:text-base;
  }

