:root{
    --primary-color: #39857B;
    --primary-color-disabled: #687276;
    /*--primary-color: #A81874;*/
    /*--primary-color-disabled: #cf86b3;*/
    --secondary-color: #002333;
    --text-color: #687276;
    --accent-color: #00E1B7;
    --tertiary-color: #C5C3C2;
    --background-color: #FFFFFF;
    --alternate-color: #F6F4F3;
    --global-border-color: #DAD8D7;
    --global-color-243ab32: #033850;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white; /* Adjust text color if needed */
}

.btn-primary:disabled {
    background-color: var(--primary-color-disabled);
    color: #e3bdd3; /* Adjust text color if needed */
    cursor: not-allowed; /* Optional: changes the cursor */
}

.btn-primary:hover:not(:disabled) {
    background-color: var(--accent-color); /* Adjust hover color as needed */
    color: white; /* Adjust text color if needed */
}

.btn-secondary{
    background-color: var(--accent-color); /* Adjust hover color as needed */
    color: white; /* Adjust text color if needed */
}

.menu-item {
    position: relative;
    color: inherit; /* Use current text color */
    text-decoration: none; /* Remove underline */
}

.menu-item::after {
    content: '';
    display: block;
    height: 3px; /* Thickness of the underline */
    background-color: #2A5A56; /* Underline color */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px; /* Space between text and underline */
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.3s ease; /* Smooth transition */
    /* z-index: 100; */
}

.menu-item:hover {
    color: #2A5A56; /* Text color on hover */
}

.menu-item:hover::after {
    transform: scaleX(1); /* Show underline on hover */
}

.mobile-menu{
    background-color: var(--global-color-243ab32);
    color: white;
}

.phone-time-address{
    padding: 0 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    color:#002333;
}

.phone-time-address-details{
    padding: 0 5px;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    color:#687276;
}
