/* --------------------------------

File#: 1_read-more
Title: Read More
Descr: A truncated paragraph with the option of reading more content
Usage: codyhouse.co/license

-------------------------------- */
.read-more {
  opacity: 0;
}
.read-more--loaded {
  opacity: 1;
}

.read-more__btn {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
  cursor: pointer;
  @apply text-primary;
  text-decoration: underline;
}